*{
	margin: 0;
	padding:0;
}
body{
	margin: 0;
	padding:0;
	background-image: url('https://pixabay.com/get/57e7d74b4b5aaa14ea9d8579c420327a133bc3e45656754c762f7ddd95/space-1728186.jpg'); 
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;

}
.fa-2x{
	font-size: 2em;
}
.fa{
	margin-top: 5px;
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}
.main-menu:hover,nav.main-menu.expanded{
	width: 250px;
	overflow: hidden;
}
.main-menu{
	background: #212121;
	border-right: 1px solid white;
	position: absolute;
	top:0;
	bottom: 0;
	height: 100%;
	left:0;
	width: 60px;
	overflow: hidden;
	transition: width 0.4s linear;
	z-index: 1000;
	-webkit-transform:translateZ(0) scale(1,1); 
}
.main-menu  ul{
	margin: 7px  0;
}
.main-menu li{
	position: relative;
	display: block;
	width: 250px;
}
.main-menu li:first-child{
	margin-top: 20px;
}
.main-menu li:nth-child(2) {
	margin-top: 20px;
}
.main-menu li a{
	position: relative;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	color: #999;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	-webkit-transform:translateZ(0) scale(1,1); 
	transition: all 1s linear;
}
.main-menu .profile-img{
	margin: 0 auto;
	max-width: 150px;
	height: auto;
}
.main-menu .profile-img img{
	margin-left:35px; 
	max-width: 50%;
	border: 5px solid #ffd;
	border-spacing: 1px;
	border-radius: 100px;
}
.main-menu .profile-img h2,.profile-text{ 
	color: white;
	text-align: center;
}
.main-menu .profile-img h2{
	font-size: 24px;
}
.main-menu .profile-text{
	font-size: 16px;
	padding: 5px;	
}
.main-menu .profile a{
	margin: 0 auto;
	font-size: 16px;
}
.main-menu .nav-icon{
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}
.main-menu .nav-text{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 190px;
	font-family: tahoma;
	font-size: 16px;
}
.main-menu ul.logout{
	position: absolute;
	left:0;
	bottom: 0;
}
.no-touch .scrollable.hover{
	overflow-y: hidden;
}
.no-touch .scrollable.hover:hover{
	overflow-y: auto;
	overflow: visible;
}
a:hover,a:focus{
	text-decoration: none;
}
nav{
	user-select: none;
}
nav ul, nav li{
	outline: 0;
	margin: 0;
	padding: 0;
}
.main-menu li:hover a,
nav.main-menu li.active a,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu .active a,
.dropdown-menu .active a:hover,
.dropdown-menu .active a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a{
	color: white;
	background-color: #5fa2db;

}
.area{
	float: left;
	background:#e2e2e2;
	width: 100%;
	height: 100%;
}


